body {
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
}

#game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#game-board {
  position: relative;
  height: 500px;
  width: 500px;
  border: 5px solid #7FFF00;
  background: #000;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #32CD32, #ADFF2F);
  box-shadow: 0 0 10px #ADFF2F, 0 0 20px #ADFF2F, 0 0 30px #ADFF2F, 0 0 40px #ADFF2F;
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #FF4500, #FF8C00);
  box-shadow: 0 0 10px #FF8C00, 0 0 20px #FF8C00, 0 0 30px #FF8C00, 0 0 40px #FF8C00;
}

#timer, #score {
  position: absolute;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #7FFF00;
}

#timer {
  left: 20px;
}

#score {
  right: 20px;
}

#game-info {
  font-size: 18px;
  color: #fff;
  margin-right: 500px;
}

#game-info h2 {
  font-size: 24px;
  color: #FFD700;
}

#game-info h3 {
  font-size: 20px;
  color: #FF4500;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: red;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: none; 
}

#game-over button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#game-over button:hover {
  background: darkred;
}

@media (max-width: 1100px) {
  #game-container {
      flex-direction: column;
      width: 100%;
  }

  #game-info{
    margin: 0;
  }
}
